/* Icon fonts */
/* Rendered using Icomoon https://icomoon.io*/
@font-face {
  font-family: 'pgIcon';
  src: url('../assets/icons/pgIcon.eot?9s3nib');
  src: url('../assets/icons/pgIcon.eot?9s3nib#iefix') format('embedded-opentype'),
    url('../assets/icons/pgIcon.ttf?9s3nib') format('truetype'),
    url('../assets/icons/pgIcon.woff?9s3nib') format('woff'),
    url('../assets/icons/pgIcon.svg?9s3nib#pgIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Icons */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pgIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checklist:before {
  content: '\e905';
}
.icon-computer:before {
  content: '\e906';
}
.icon-database:before {
  content: '\e907';
}
.icon-github:before {
  content: '\e900';
}
.icon-instagram:before {
  content: '\e901';
}
.icon-linkedin:before {
  content: '\e902';
}
.icon-text_document:before {
  content: '\e903';
}
.icon-twitter:before {
  content: '\e904';
}
