---
import CenteredLayout from "../layouts/CenteredLayout.astro";
---

<CenteredLayout title="Not Found">
  <main class="flex flex-1 flex-col justify-center">
    <h1 class="mb-3 text-5xl font-bold leading-tight md:text-6xl">Not Found</h1>
  </main>
</CenteredLayout>
