---
import { Image } from "astro:assets";
import pakataHeadshotImage from "../assets/images/pakata-headshot.jpg";
import pgFsaeImage from "../assets/images/pg-fsae.jpg";
import pgPhotographyImage from "../assets/images/pg-photography.jpg";
import GeneralLayout from "../layouts/GeneralLayout.astro";
---

<GeneralLayout
  title="About - Pakata Goh"
  description="Software developer from sunny Singapore. Find out more about me here!"
  imageUrl={pakataHeadshotImage}
>
  <main>
    <h1 class="mb-6 text-3xl font-bold">About me</h1>
    <div class="prose dark:prose-invert w-full max-w-none space-y-4">
      <section class="text-gray-700 dark:text-gray-300">
        <h2 class="dark:text-gray-300">Pakata Goh</h2>
        <p>
          Born in 1990 and raised in sunny Singapore. If you&apos;re wondering
          why my name sounds strange, it&apos;s because it&apos;s a Buddhist
          name. I&apos;m Singaporean Chinese. I attended the National University
          of Singapore (NUS) and graduated with a degree in mechanical
          engineering in 2015. During university, I was part of the NUS Formula
          Student team competing in the Formula Student (FSAE) Michigan
          competiton.
        </p>
        <p>
          In July 2018, I decided to leave my job as a technical sales engineer
          in the industrial sector to pursue software development as a career.
          After about 6 months of self-learning, I managed to secure an
          internship at a local startup. In Feb 2019, I joined a bootcamp
          conducted by ThoughtWorks (Singapore).
        </p>
        <p>
          Since then, I’ve worked in a few startups before my latest position at
          foodpanda.
        </p>
        <p>
          In my free time, I dabble in a little photography and keep up with
          Formula 1 during race weekends.
        </p>
        <div
          class="flex flex-col items-stretch gap-8 sm:flex-row sm:justify-between sm:gap-10"
        >
          <div class="sm:flex-1">
            <Image
              src={pgFsaeImage}
              alt="nus formula student"
              class="not-prose relative m-0 aspect-square"
              layout="constrained"
              loading="eager"
            />
          </div>
          <div class="hidden sm:block sm:flex-1">
            <Image
              src={pgPhotographyImage}
              alt="photography"
              class="not-prose relative m-0 aspect-square"
              layout="constrained"
            />
          </div>
        </div>
      </section>

      <section class="text-gray-700 dark:text-gray-300">
        <h2 class="text-2xl font-medium text-gray-900 dark:text-white">
          Talks
        </h2>
        <ul>
          <li>
            <a
              class="text-blue-700 no-underline hover:underline dark:text-orange-300"
              href="https://www.youtube.com/watch?v=7tcf20ItkA0"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Hooked on Hooks: Intro to React Hooks"
            >
              Hooked on Hooks: Intro to React Hooks
            </a>
          </li>
        </ul>
      </section>

      <section class="text-gray-700 dark:text-gray-300">
        <h2 class="text-2xl font-medium text-gray-900 dark:text-white">
          Education
        </h2>
        <ul class="list-disc">
          <li>
            Bachelors of Engineering (Mechanical Engineering) - National
            University of Singapore
          </li>
        </ul>
      </section>
      <section class="text-gray-700 dark:text-gray-300">
        <h2 class="text-2xl font-medium text-gray-900 dark:text-white">
          Hobbies
        </h2>
        <ul class="list-disc">
          <li>Photography</li>
          <li>Formula 1</li>
        </ul>
      </section>
    </div>
  </main>
</GeneralLayout>
