---
import typingHandsImage from "../assets/images/typing-hands.jpg";
import { EMAIL } from "../constants";
import CenteredLayout from "../layouts/CenteredLayout.astro";
---

<CenteredLayout
  title="Contact - Pakata Goh"
  description="You can contact me through the various channels mentioned on this page"
  imageUrl={typingHandsImage}
>
  <main class="flex flex-1 items-center justify-center">
    <div class="w-full text-base md:text-lg">
      <h1 class="mb-4 text-5xl leading-tight font-bold md:text-6xl">Contact</h1>
      <div class="flex items-center gap-3">
        <a
          href={`mailto:${EMAIL}`}
          class="text-xl font-bold no-underline hover:underline sm:text-2xl"
        >
          {EMAIL}
        </a>
        <button
          class="hidden h-5 w-5 text-sm"
          id="copy-to-clipboard"
          data-email={EMAIL}
          aria-label="copy to clipboard"
        >
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 36 36"
            ><path
              fill="currentColor"
              d="M29.5 7h-19A1.5 1.5 0 0 0 9 8.5v24a1.5 1.5 0 0 0 1.5 1.5h19a1.5 1.5 0 0 0 1.5-1.5v-24A1.5 1.5 0 0 0 29.5 7ZM29 32H11V9h18Z"
              class="clr-i-outline clr-i-outline-path-1"></path><path
              fill="currentColor"
              d="M26 3.5A1.5 1.5 0 0 0 24.5 2h-19A1.5 1.5 0 0 0 4 3.5v24A1.5 1.5 0 0 0 5.5 29H6V4h20Z"
              class="clr-i-outline clr-i-outline-path-2"></path><path
              fill="none"
              d="M0 0h36v36H0z"></path></svg
          >
        </button>
        <div role="alert" id="copied-notification">
          <div class="opacity-0 transition-opacity duration-500"></div>
        </div>
      </div>
      <ul class="mt-4 flex items-center gap-3">
        <li>
          <a
            class="text-blue-700 no-underline hover:no-underline dark:text-orange-200"
            href="https://drive.google.com/file/d/1cOIAXVd5Pq5cPVLAa7WSWTHDj0moCTE6/view"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Résumé"
          >
            <div
              class="inline-flex items-center justify-center rounded-md p-2 shadow-md shadow-gray-500/50 transition-shadow hover:shadow-sm hover:shadow-gray-500/50 dark:shadow-black/60 dark:hover:shadow-black/90"
            >
              <div class="flex items-center gap-2">
                <p class="text-base">Résumé</p>{" "}
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-xl"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  ><g fill="currentColor"
                    ><path
                      d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"
                    ></path><path
                      d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"
                    ></path></g
                  ></svg
                >
              </div>
            </div>
          </a>
        </li>
        <li>
          <a
            class="text-blue-700 no-underline hover:no-underline dark:text-orange-200"
            target="_blank"
            rel="noopener noreferrer"
            href="https://linkedin.com/in/pakata-goh"
            aria-label="linkedin profile"
          >
            <div
              class="inline-flex items-center justify-center rounded-md p-2 shadow-md shadow-gray-500/50 transition-shadow hover:shadow-sm hover:shadow-gray-500/50 dark:shadow-black/60 dark:hover:shadow-black/90"
            >
              <div class="flex items-center gap-2">
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-xl"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  ><path
                    fill="currentColor"
                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248c-.822 0-1.359.54-1.359 1.248c0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                  ></path></svg
                >
              </div>
            </div>
          </a>
        </li>
        <li>
          <a
            class="text-blue-700 no-underline hover:no-underline dark:text-orange-200"
            href="https://github.com/pakatagoh"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github profile"
          >
            <div
              class="inline-flex items-center justify-center rounded-md p-2 shadow-md shadow-gray-500/50 transition-shadow hover:shadow-sm hover:shadow-gray-500/50 dark:shadow-black/60 dark:hover:shadow-black/90"
            >
              <div class="flex items-center gap-2">
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  class="text-xl"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  ><path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path></svg
                >
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </main>
</CenteredLayout>

<script>
  const copyToClipboardButton = document.getElementById("copy-to-clipboard");
  const emailValue = copyToClipboardButton?.dataset.email;
  const isClipboardApiExists = Boolean(navigator?.clipboard);

  if (emailValue && isClipboardApiExists) {
    copyToClipboardButton?.classList.remove("hidden");

    //@ts-ignore
    let timeoutId;

    const copyToClipboard = () => {
      navigator.clipboard.writeText(emailValue);

      const copiedNotificationElement = document.querySelector(
        "#copied-notification :first-child",
      );

      if (copiedNotificationElement) {
        copiedNotificationElement.textContent = "Copied";
        copiedNotificationElement.classList.add("opacity-100");

        //@ts-ignore
        clearTimeout(timeoutId);

        // Remove the "Copied" text after 3 seconds
        timeoutId = setTimeout(() => {
          copiedNotificationElement.textContent = "";
          copiedNotificationElement.classList.remove("opacity-100");
        }, 2500);
      }
    };

    copyToClipboardButton?.addEventListener("click", copyToClipboard);
  }
</script>
