---
import pakataHeadshotImage from "../assets/images/pakata-headshot.jpg";
import CenteredLayout from "../layouts/CenteredLayout.astro";
---

<CenteredLayout
  title="Pakata Goh"
  description="Software developer from sunny Singapore"
  imageUrl={pakataHeadshotImage}
>
  <main class="flex flex-1 flex-col justify-center">
    <h1 class="mb-3 text-5xl leading-tight font-bold md:text-6xl">
      Pakata Goh
    </h1>
    <p>Software developer from sunny Singapore</p>
    <p>Currently working as a software engineer at foodpanda</p>
  </main>
</CenteredLayout>
