---
interface Props {
  message?: string;
}

const { message = "Please enable javascript" } = Astro.props;
---

<noscript>
  <div class="rounded-md border border-red-800 p-4 dark:border-red-600">
    <p class="text-md m-0 italic">
      {message}
    </p>
  </div>
</noscript>
