---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = BaseHeadProps;

const { title, description, imageUrl } = Astro.props;
---

<html lang="en" data-theme="dark" class="dark">
  <head>
    <BaseHead title={title} description={description} imageUrl={imageUrl} />
  </head>
  <body
    class="transition duration-150 dark:bg-gray-800 dark:text-white relative flex min-h-screen flex-col items-stretch px-4 py-3 md:mx-auto md:max-w-3xl"
  >
    <Header />
    <div class="flex-grow flex">
      <slot />
    </div>
    <div class="mt-auto">
      <Footer />
    </div>
  </body>
</html>
