---
import type { Props as BaseHeadProps } from "../components/BaseHead.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

type Props = BaseHeadProps;

const { title, description, imageUrl } = Astro.props;
---

<html lang="en" data-theme="dark" class="dark">
  <head>
    <BaseHead title={title} description={description} imageUrl={imageUrl} />
  </head>

  <body
    class="relative flex min-h-screen flex-col items-stretch px-4 py-3 transition duration-150 md:mx-auto md:max-w-3xl dark:bg-gray-800 dark:text-white"
  >
    <Header />
    <div class="grow">
      <slot />
    </div>
    <div class="mt-auto">
      <Footer />
    </div>
    <script>
      // speed insights
      window.si =
        window.si ||
        function () {
          (window.siq = window.siq || []).push(arguments);
        };

      // analytics
      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
